<div class="container">
  <div class="jumbotron mt-3 mb-3">
    <h1>My Chat Service</h1>
    <div *ngIf="userService.isAuth()">
      <hr>
      <h4>Bievenue dans notre chat, <b>{{userService.getUsername()}}</b></h4>
      <p><button class="btn btn-warning" (click)="userService.logout()">Déconnexion</button></p>
    </div>
    <div *ngIf="!userService.isAuth()">
      <p>Bievenue dans le chat, veuillez choisir un pseudo pour commencer.</p>
      <input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginUsername" (keydown.enter)="login()" />
    </div>
  </div>

  <app-chat-display></app-chat-display>
</div>
